header {
    text-align: left;
    background-color: rgba(18, 184, 129, 0.281);
    display: flex;
    justify-content: space-around;
}
  
a{
  color: black;
}
header a {
  margin: 1%;
 
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
  background-color: rgba(18, 184, 129, 0.281);
}

nav a{

  margin: 0.75%;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  .modal-content a{
  
  font-size: smaller;
  
  color: black;
  text-decoration: none;
    transition: color 0.3s ease;
  }
  .modal-content a:hover {
    color: blue;
    text-decoration: underline;
  }
   .modal-content {
    box-sizing: border-box;
    max-width: 15%;
    max-height: 40%;
    display: block;
    background-color: rgba(0, 255, 179, 0.699);
    margin: 10% auto;
    padding: 1%;
    border: 1px solid white;
    line-height: 200%;
  }
  .modal_form{
    display: block;
    max-width: 100%;
    max-height: 100%;
    line-height: 150%;
  }
  .modal_form input{
  
    max-width: 100%;
    max-height: 100%;
  
  }
  .close {
    color: #ffffff;
    float: right;
    font-size: 200%;
    font-weight: bold;
  }
  .login_input,
  .reset_login {
    width: 60%; 
    box-sizing: border-box; 
    margin: 5%;
  }
  .login_input{
    font-size: larger;
    background-color: white;
    border: 1px solid white;
    color: rgb(0, 3, 2);
    /* margin: 1%; */
  }
  .login_input:hover{
   
    background-color: rgba(0, 255, 179, 0.575);
  }
  .reset_login{
    background-color: white;
    border-radius: 1% solid rgb(0,0,0);
    
  }
  
  .reset_login:hover{
    border: 1px solid white;
    background-color: rgba(0, 255, 179, 0.575);
  }
  
  .form-buttons {
    display: flex;
    
    justify-content: space-evenly;
    margin: 5%;
   
  }
  
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #login_butao {
    font-size: large;
    color: rgb(0, 187, 134);
    margin-top: 1.1%;
    padding: 0.5%;
    border-radius: 20%;
    display: inline-block;
  }
  #login_butao:hover{
  
    background-color: rgba(0, 255, 179, 0.575);
    color: white;
   
  }
  
  .a_header_nav{
    font-size: large;
    margin-top: 1.1%;
    padding: 0.5%;
    border-radius: 5%;
    display: inline-block;
  }
  .a_header_nav:hover{
  color: white;
  }