* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  body{
  background-image: url(/imagens/slide/ondas.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  
  

  }
header {
    padding: 1.15%;
    text-align: left;
    background-color: rgb(17, 218, 151);
    display: flex;
    justify-content: space-around;
}
  
a{
  color: white;
}
header a {
  margin: 1%;
 
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(17, 218, 151);   
}

nav a{

  margin: 0.75%;
}
main{
  display: flex;
  flex-direction: row;
  gap: 2.5%;
  padding-left: 3.5%;
  padding-right: 3.5%; 
  background-color: rgba(18, 184, 129, 0.281);
  max-height: 700px;
  
  }
p{
  font-size: medium;
  line-height: 120%;
}

.agendarViagem label, input{

display: block;
}

h1{
  font-size: 20px;
margin-top: 30%;
margin-bottom: 2.5%;
  
}
.agendarViagem{

margin: 2.5%;

}


fieldset {
font-size: larger;
background-color: rgba(2, 251, 180, 0.159);
border: 1px white solid;
padding: 20px;
line-height:200%;

}
input{

padding: 5px 10px;
margin: 8px 0;
box-sizing: border-box;


}
.button {
padding: 5%;
font-size: large;
margin-top: 10%;
float: left;
border-radius: 5%;
color: black;
background-color: rgba(0, 255, 179, 0.318);
border: 1px white solid;

}

.reset {
  padding: 5%;
  margin-top: 10%;
  font-size: large;
  float: right;
  border-radius: 5%;
  color: black;
  
  border: 1px white solid;
}


.destinos{
  max-height: 500px;
  size: 100%;
  display: flex;
  justify-content: space-around;
  text-align: justify;

}
  
.jamaica, .bahamas, .butao {
   background-color: rgba(0, 255, 179, 0.575);
   display: block;
   margin: 0.75%; 
   width: 25%;
   padding: 2%;
   border: 1px solid white;
  
}
.scrollable-paragraph {
  max-height: 250px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  
}
.destinos_background{
margin-top: 7.5%;
max-height: 500px;

}

.imagensDestinos{
  
    width: 100%;
    height: 30%;
  }

footer{
font-size: large;
color: black;
padding: 3.5%;
display: flex;
justify-content: space-around;
background-color: rgb(17, 218, 151);
}
footer a{
  color: black;
  list-style: none;
  text-decoration: none;
}
.redes_sociais{
  list-style: none;
  padding: 0;
  margin-right: 0px;
  text-decoration: none;
  margin-bottom: 10px; 
}
